<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808966008918-go03eq5j5ou3n0rcc5i89k18u1anijko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808966008918-go03eq5j5ou3n0rcc5i89k18u1anijko</string>
	<key>API_KEY</key>
	<string>AIzaSyC3HBElNPA572T4rTV4WClCKKbh0qbh9Og</string>
	<key>GCM_SENDER_ID</key>
	<string>808966008918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>classflow-21b73</string>
	<key>STORAGE_BUCKET</key>
	<string>classflow-21b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808966008918:ios:e5c13fff3d342708210bf7</string>
</dict>
</plist>