<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808966008918-1j0b6l0gm5nu3f90qu5r8din2475aoge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808966008918-1j0b6l0gm5nu3f90qu5r8din2475aoge</string>
	<key>API_KEY</key>
	<string>AIzaSyC3HBElNPA572T4rTV4WClCKKbh0qbh9Og</string>
	<key>GCM_SENDER_ID</key>
	<string>808966008918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>classflow-21b73</string>
	<key>STORAGE_BUCKET</key>
	<string>classflow-21b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808966008918:ios:63cf3b67f652b41e210bf7</string>
</dict>
</plist>